.vert-sidebar{
    display: flex;
    height: 100%;
    justify-content: space-around;
}


#left{
    min-width: 200px;
}

#logo{
    justify-content: flex-start;
<<<<<<< HEAD
    max-width: 200px;
    height: 10%;
    text-align: center;
    align-self: center;
    margin-top: 5%;
=======
    max-width: 100%;
    height: 10%;
    text-align: center;
>>>>>>> ac537545db50f1f95fc43c456955e394a713b6da
} 

#logo-img{
    height: 1.5em;

}

#credits{
    text-align: center;
    
}

#side-menu{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#side-bar{
    justify-content: space-between;
<<<<<<< HEAD
    position: absolute;
    max-height: 100vh;
    height: 100%;
    width: 20%;
    min-width: 190px;
    position: fixed;
    left: 0;
=======
>>>>>>> ac537545db50f1f95fc43c456955e394a713b6da
}

.side-btn{
    margin-top: 5%;
}


<<<<<<< HEAD

=======
>>>>>>> ac537545db50f1f95fc43c456955e394a713b6da
