@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');

#page{
    display: flex;
    background-color: #f5f6f7;
    padding-bottom: 5%;
    max-width: 80%;
    min-height: 100%;
    position: absolute;
    right: 0;
<<<<<<< HEAD
    min-height: 100%
=======
>>>>>>> 105ad66d020e1dff6a69d2ad343fac7e472bfc5e
}

.vert{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.vert-small{
    width: 30%;
    padding-left: 0%;
    padding-right: 0%;
}

.horz{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* padding-left: 5%;
    padding-right: 5%; */
}


<<<<<<< HEAD
=======

>>>>>>> 105ad66d020e1dff6a69d2ad343fac7e472bfc5e
#screen{
    padding: 0; 
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

#top{
display: flex;
flex-direction: row;
}

.top-item{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 140px;
}

.role-descriptor{
    max-width: 111px;
}

#hp-span{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    border: 3px solid #ced4da;
    border-radius: 50px;
    background-color: #f5f6f7;
}

#hp{
    background-color: #f5f6f7;
    border: none;
    font-size: 18px;
}

.hp-item{
    width: 33%;
    padding: 2% 0% 2% 0%;
    /* padding-top: 0%;
    padding-right: 0%; */
    margin: 0%;
    text-align: center;
}

#char_photo{
    width: 100%;
    height: auto;
    padding: 5%;
    border: 3px solid #ced4da;
    border-radius: 20px;
}

#weapons-and-abilities{
    justify-content: space-between;
    padding: 0;
}

#rand-char-btn{
    margin-bottom: 2%;
}

#login{
    margin-top: 10%;
    margin-left: 10%;
}


.sides{
    max-width: 25%;
    width: 22%;
}

.center{
    min-width: 50%;
    justify-content: space-around;
    text-align: center;
}

#char-body-center{
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.saves-n-skills{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    padding: 0% 2% 0% 2%;
}

.bottom-right{
    max-width: 60%;
}

.bottom-left{
    max-width: 40%;
    margin-right: 5% !important;
}

.char-box-borders{
    padding: 2%;
    border: 3px solid #ced4da;
    border-radius: 20px;
    margin: 2% 0% 2% 0%;
}

#spells{
    margin-bottom: 5%;
}


.form-group-with-descriptor{
    margin-bottom: 0%;
}
.bottom-right{
    width: 60%;
}

.bottom-left{
    width: 40%;
}

.bottom-item{
    /* margin-left: 5%;
    margin-right: 5%; */
    max-width: 100%;
    width: 100%;
    margin-right: 5%;
}


#btnDiv{
    margin-top: 0%;
    border: 3px solid #ced4da;
    border-radius: 20px;
    justify-content: space-around;
}

h1{
    font-family: Aclonica;
    text-align: center;
}


h3{
    font-family: Aclonica;
}

#weapons-and-abilities{
    display: flex;
    justify-content: space-between;
}


#bottom{
    justify-content: center;
    padding: 0;
}


.no-list-style{
    list-style-type: none;
}

.sBtns{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}








h3{
    font-family: Aclonica;
}

#weapons-and-abilities{
    display: flex;
    justify-content: space-between;
}


#bottom{
    justify-content: center;
    padding: 0;
}
