#page{
    border: solid;
    display: flex;
}

.vert{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#side-bar{
    border: solid;
    height: 100vh; 
}

#left{
    min-width: 200px;
}

/* #logo{
    justify-content: flex-start;
}

#credits{
    align-self: flex-end;
    
} */

#side-menu{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
#screen{
    padding: 0; 
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}

#top{
display: flex;
flex-direction: row;
}

.top-item{
    display: flex;
    flex-direction: column;
}