#page{
    border: solid;
    display: flex;
}

#side-bar{
    border: solid;

}

#left{

    top: 0;
    bottom: 0;
}

#logo{
    justify-content: flex-start;
}

#credits{
    /* justify-content: flex-end; */
    /* float: right; */
}

#side-menu{
    flex-direction: column;
}

#charForm{
    flex-direction: column;
}

#createCharacter{
    flex-wrap: row;
}

#screen{
    padding: 0;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }